<div class="jumbotron">
  <div class="container">
    <nav>
      <a href="/"><i class="fa fa-home fa-2x"></i></a>
    </nav>
    <div class="logout">
      <% if @user %>
        <a href="/admin" class="btn btn-default">Admin</a>
        <form method="POST" action="/session">
          <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
          <input name="_method" value="DELETE" type="hidden">
          <button class="btn btn-default">Logout</button>
        </form>
      <% end %>
    </div>
    <h1> Hello, <%= @user.username %> </h1>
    <button class="btn btn-default"><%= link_to 'Create Post', new_entry_path %></button>
  </div>
</div>

<div class="container">
  <div class="row">

  <% @entries.reverse_each do |entry| %>
  <div class="col-sm-4 admin-entries">
   <h2><%= link_to entry.title, entry %></h2>
   <p>Created: <%= entry.created_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></p>
   <p>Last Updated: <%= entry.updated_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></p>
  </div>
  <% end %>

  </div>
</div>
